.container-main {
  width: 95%;
  margin-left: 2.5%;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.calories-stats {
    margin-top: 3em;
}

.water-stats {
    margin-top: 3em;
}
